mixin video(info)
    .one-video
        img(crossorigin="anonymous", src=info.thumbUrl)
        .one-info
            h4
                a(href=`/videos/${info.id}`)=info.title
                info.title
            p=info.description
            ul
                each hashtag in info.hashtags 
                    li=hashtag
            small=info.createdAt