extends base.pug

block content
    .profile-page-division
        .profile-division
            if loggedInUser.avatarUrl
                if loggedInUser.avatarUrl.includes("github")
                    img(src=loggedInUser.avatarUrl, width="100", height="100").profile-pic
                else
                    img(src=loggedInUser.avatarUrl, width="100", height="100").profile-pic
            form(method="POST", enctype="multipart/form-data")
                input(placeholder="Name", name="name", type="text", maxlength=7, required, value=loggedInUser.name)
                label(for="avatar") Feel free to change your avatar!
                input(type="file", id="avatar", name="avatar", accept="image/*")
                input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
                input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
                input(placeholder="Location", name="location", type="text", required, , value=loggedInUser.location)
                input(type="submit", value="Update Profile")
                if !loggedInUser.socialOnly
                    a(href="change-password") Change Password &rarr;
        .advertisement
            .advertisement__align 
                h1 Profile Banner
                span Click here to upload your banner!
                